/* Common style  */
body{
    background-color: gray;
}
.top-heading{
    font-weight: 700;
}
.total-section{
    background-color: gray ;
}
.calculate-btn{
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 4px;
}
.save-btn{
    font-size: 25px;
    font-weight: 700;
    color: white;
}